/* * * * * * * * *
 *  CalCalc .js  *
 * Version  0.01 *
 * License:  MIT *
 * SimonWaldherr *
 * * * * * * * * */

#cal {
  width: 980px;
  margin: auto;
}

.calcalcday {
  border: 1px solid #ccc;
  padding: 3px 15px 20px 3px;
  text-align: right;
  vertical-align: top;
  width: 120px;
  height: 100px;
  display: inline-block;
}

.oddmonth1 {
  background: #eff;
}

.today {
  background: #ffe;
}
