/* * * * * * * * *
 *  CalCalc .js  *
 * Version  0.07 *
 * License:  MIT *
 * SimonWaldherr *
 * * * * * * * * */

#cal {
  position: relative;
  z-index: 1;
  top: 50px;
  width: 100%;
  margin: auto;
}

#container {
  position: absolute;
  top: 20px;
  left: 160px;
  right: 0px;
  bottom: 0px;
  overflow-y: scroll;
}

.topbar {
  position: fixed;
  text-align: center;
  z-index: 5;
  height: 42px;
  width: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}

.calcalcday {
  border: 1px solid #ccc;
  padding: 3px 15px 20px 3px;
  text-align: right;
  vertical-align: top;
  width: 120px;
  height: 100px;
}

.oddmonth1 {
  background: #eff;
}

.today {
  background: #ffe;
}

#scrollbox {
  height: auto;
  width: 160px;
  position: fixed;
  top: 42px;
  left: 0px;
  background: #ccc;
  overflow-y: scroll;
  bottom: 0px;
}

.scrollmonth {
  margin: 10px;
  padding-left: 5px;
}

#scrollbox p:first-child {
  visibility: hidden;
}
#scrollbox p:last-child {
  visibility: hidden;
}

table {
  border-spacing: 0px;
}
